
#w5_blog {
    width: 80%;
    margin: 20px auto;
    border: 20px solid #bdc3c7;
    padding: 20px;
    font-size: 20px;
    font-family: 'Source Sans Pro';
}

#w5_blog .post {
   margin-bottom: 20px;
}

#w5_blog .date {
  text-transform: uppercase;
  letter-spacing: 0.2em;
    color: #3498db;
}

#w5_blog .quote{
  border-left: 5px solid #bdc3c7;
  padding: 5px;
}
    
#w5_blog h2 {
  font-size: 2em;
  font-weight: bold;
  color: #374c60;
}

#w5_blog hr{
  
}